---
import { getPrintifyData, getPrintifyProducts } from '../../lib/printify';
import { toSlug } from '../../lib/utils'; // Import the helper
import Layout from '../../layouts/Layout.astro';
import ProductCard from '../../components/ProductCard.vue';

export async function getStaticPaths() {
  const shopsResponse = await getPrintifyData();
  const shops = shopsResponse.success ? shopsResponse.data : [];

  return shops.map((shop) => ({
    params: { slug: toSlug(shop.title) },
    props: { shop },
  }));
}

const { shop } = Astro.props;
const categoryTitle = shop.title;
const shopSlug = toSlug(shop.title);

const productsResponse = await getPrintifyProducts(shop.id);
const products = productsResponse.success ? productsResponse.products : [];
---
<Layout title={`Shop - ${categoryTitle}`}>
  <div class="category-header">
    <h1>{categoryTitle}</h1>
    {products && <p>Browse {products.length} product(s)</p>}
  </div>

  {products.length === 0 && <p class="error-message">No products found in this category.</p>}

  <ul class="product-grid">
    {products.map(product => {
      const imageSrc = product.images.find(img => img.is_default)?.src || product.images[0]?.src;
      const price = product.variants.find(v => v.is_enabled)?.price / 100;
      const productSlug = toSlug(product.title);

      return (
          <li>
            <ProductCard
                client:visible
                title={product.title}
                price={price}
                imageSrc={imageSrc}
                href={`/products/${shopSlug}/${productSlug}`}
            />
          </li>
      )
    })}
  </ul>
</Layout>

<style>
  .category-header {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  .product-grid {
    display: grid;
    list-style: none;
    padding: 0 2rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  .error-message {
    text-align: center;
    color: #991b1b;
    padding: 2rem;
  }
</style>